# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema


# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000

ENV=local

HOST=localhost

# DATABASE_URL="postgresql://user:password@localhost:5432/db_default?schema=default"
DATABASE_URL="postgresql://ppks:Nila1234.@localhost:54320/ppks?schema=ppks"

host=localhost port=54320 dbname=ppks user=ppks password=xxxxxxx sslmode=prefer connect_timeout=10

# localhost:5000
DOMAIN=localhost:5000

ACCESS_LOG_LEVEL=info

# app secret key for jwt token
APP_SECRET=6d795f7375706572